<div>
    <app-tables></app-tables>
</div>
<br>
<br>

<navbar></navbar>
<router-outlet></router-outlet>

<!-- <div>
    <github-followers></github-followers>
</div>
<br>
<br>
<div>
    <post-component></post-component>
</div>
<br>
<br>
<div>
    <change-password-form></change-password-form>
</div>
<br>
<br>
<div>
    <topic></topic>
</div>
<br>
<br>
<div>
    <signup-form></signup-form>
</div>
<br>
<br>
<div>
    <course-form></course-form>
</div>
<br>
<br>

<div>
    <zippy title="Shipping Details">
        Shipping Details Content
    </zippy>
</div>
<br>
<br>

<div>
    <input type="text" [appInputFormat]="'lowercase'">
</div>
<br>
<br>

<title-case></title-case>
<br>
<div class="container">
    <div class="row">
        <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)" ></favorite>
        <like
            [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked" ></like>
    </div>
</div> -->